* {
    margin: 0px; 
}
.imgh {
    height:100vh;
    width:250vh;
    border : 2px solid black;
}
.sec {
    height:300px;
    width:250vh;
    border : 2px solid black; 
    background-color: rgb(245, 190, 41);
}
.imgg{
    height:300px;
    width:450px;
    border : 2px solid black; 
    float : left;
}
.p{
   color: #405008;
   text-align: center;
   font-weight:50;
   font-size:40px;
   font-family:cursive;
}
.h{
    color: #405008;
    font-weight:10px;
    font-size:70px;
    font-family:cursive;
}
.icon {
width: 70px;
height: 85px;
}
.img {
    float : left;
}
.pi {
display:flex;
    width :300px;
    height: 200px;
    align-content: center;
    position: relative;
    left : 32%;
    top : 5%;
}